.add-car h3 {
  position: relative;
}

.add-car .info-button {
  position: absolute;
  display: inline-flex;
  margin-left: 15px;
  top: 2px;
  width: 20px;
  height: 20px;
  font-size: 15px;
}

.add-car .weight-input {
  margin-top: 25px;
}

.add-car .weight-input input {
  width: 100px;
  text-align: center;
}

.add-car .unit-system {
  position: fixed;
  transform: translateX(-50%);
  bottom: 100px;
  left: 50%;
}

.add-car .grip-multi-selector {
  margin-top: 30px;
}
