.new-car-wizard {
  position: fixed;
  top: 30px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}

.new-car-wizard .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-car-wizard .step {
  flex: 1;
  text-align: center;
  padding-top: 25px;
}

.new-car-wizard h3 {
  font-weight: 300;
  font-size: 20px;
}

.new-car-wizard .grip-btn {
  font-size: 20px;
  padding: 5px 10px;
  width: 100px;
}

.new-car-wizard .dots {
  display: flex;
}

.new-car-wizard .dots > span {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  width: 7px;
  height: 7px;
  display: block;
  margin: 0 3px;
  transition: color 0.2s ease;
}

.new-car-wizard .dots > span.done {
  border: none;
  background: #2d73ff;
}
