.landing .logo {
  top: 50%;
  font-size: 60px;
  transition: margin-top 1s ease, font-size 1s ease;
}

.landing .grip-btn {
  width: 70%;
  max-width: 300px;
  margin: 20px auto;
}

.landing .info-button {
  position: fixed;
  left: calc(50% - 15px);
  bottom: 20px;
}

.landing .disclaimer {
  color: #ff6d6d;
}

.landing .by {
  color: rgba(255, 255, 255, 0.4);
}

.landing.exiting .logo {
  margin-top: 10px;
  font-size: 20px;
}

.landing.exiting .grip-btn,
.landing.exiting .info-button {
  transition: opacity 0.5s ease;
  opacity: 0;
}
