body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: #fff;
  background: #24242a;
  user-select: none;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.logo::after {
  content: 'GRIP';
}
