:root {
  /* --bg-color: #000; */
  --bg-color: #24242a;
  --blue-color: #2d73ff;
  --light-blue-color: #3978d0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: #fff;
  background: var(--bg-color);
  user-select: none;
}

button:focus {
  outline: none;
}

p {
  margin: 0;
}

a {
  color: var(--light-blue-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid var(--light-blue-color);
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 15px 0;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.logo::after {
  content: 'GRIP';
}

.clk {
  transition: transform 0.2s ease;
}

.clk.clicked {
  transform: scale(1.1);
}

.page-fade-in-1s,
.page-fade-in-2s {
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: fade-in;
}

.page-fade-in-1s {
  animation-duration: 1s;
}

.page-fade-in-2s {
  animation-duration: 2s;
}

@keyframes page-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
